node/conf/schemas/data_request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="RequestID"/>
        <xs:element type="xs:string" name="StudyID"/>
        <xs:element type="xs:string" name="OriginalRequesterID" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:string" name="Query"/>
        <xs:element name="RequestedPartners" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PartnerID" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="ExpirationTime"/>
        <xs:element type="xs:boolean" name="CacheSafe" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="xs:boolean" name="CacheAvailable" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="xs:dateTime" name="CacheTimestamp" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>