node/conf/schemas/partner_statistics.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartnerStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="PartnerID"/>
        <xs:element type="xs:string" name="Status"/>
        <xs:element type="xs:unsignedInt" name="ErrorCode" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="ErrorMessage" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:byte" name="NumberOfDataRequestsReceived" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:byte" name="NumberOfDataRequestsResponded" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:byte" name="NumberOfDataRequestsInitiated" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:byte" name="NumberOfDataRequestsDeclined" maxOccurs="1" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>