node/conf/schemas/partner_list.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartnerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Status"/>
        <xs:element type="xs:unsignedInt" name="ErrorCode" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="ErrorMessage" maxOccurs="1" minOccurs="0" />
        <xs:element name="Partner" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PartnerID"/>
              <xs:element type="xs:string" name="OrganizationName"/>
              <xs:element type="xs:string" name="EligibleToReceiveDataRequest"/>
              <xs:element type="xs:string" name="EligibleToInitiateDataRequest"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>