hub/conf/xml_messages/schemas/analysis_result.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnalysisResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="RequestID"/>
        <xs:element type="xs:string" name="StudyID"/>
        <xs:element type="xs:string" name="Result"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>