hub/conf/xml_messages/schemas/partner_role_list.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartnerRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Status"/>
        <xs:element type="xs:unsignedInt" name="ErrorCode" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="ErrorMessage" maxOccurs="1" minOccurs="0" />
        <xs:element name="Role" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="RoleID"/>
              <xs:element type="xs:string" name="Name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
