hub/conf/xml_messages/schemas/partner_list_request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartnerListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="OrganizationName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:boolean" name="EligibleToReceiveDataRequest" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:boolean" name="EligibleToInitiateDataRequest" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>