hub/conf/xml_messages/schemas/partner_get.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartnerGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="PartnerID" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:string" name="Status"/>
        <xs:element type="xs:unsignedInt" name="ErrorCode" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="ErrorMessage" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="Username" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="OrganizationName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="RoleID" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:boolean" name="AutoRetrieveCachedData" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>